*{
    box-sizing: border-box;
    padding: 0;
    margin:0
}

body{
    font-family: 'Montserrat', sans-serif;
}
/*colors*/

.bg-green{
    background-color: rgb(43, 224, 43);
}

.bg-blue{
    background-color:rgb(86, 86, 247);
}

.bg-red{
    background-color:rgb(229, 57, 57);
}
.bg-grey{
    background-color:rgb(159, 120, 230);
}
/*flex*/

.flex{
    display: flex;
}


.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{   
    display: flex;
    flex-direction: column;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: flex-end;
}
.justify-content-center{
    justify-content: center;
}
.align-iteams-space-between{
    align-items: space-between;
}

.align-iteams-center{
    align-items: center;
}
.align-content-center{
    align-content: center;
}


/*commands*/

.circle{
    border-radius: 50%;
}
.bold{
    font-weight: bold;
}
.height-small{
    min-height:30px ;
}
.width-small{
    min-width: 30px; 
}

.height-medium{
    min-height: 55px;
}
.width-medium{
    min-width: 55px;
}

.border{
   border: 2px dotted black; 
}

/*txt-height*/




/*layout*/

.upper-section{
    height: calc(100vh - 70px);
    padding-left:34px;
    background-color: yellow;
    width: 100%;
    overflow-y: scroll;
    
    
}

/*******header********/
header{
    min-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:#080B12;
    z-index: 2;
}

.bottone{
    width: 200px;
    height: 30px ;
    color: white;
    margin-right: 30px;
    border:1px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    background-color:#080B12 ;
    

}

.header-and-main-content{
    position: relative;
   
    
}
/*********main*************/

main{
    padding-top:70px ;
    
}


main nav{
    
    margin-bottom: 10px;
    padding-top: 10px;
}
ul{
    list-style-type: none;
    
}




nav ul li{
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 30px;
    text-align: center;
    height: 40px;
}


h2{
    display: block;
    height: 40px;
    width: 100%;
    background-color: darkolivegreen;
}
.title-description{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background-color: darkslateblue;
    
}

/*songs section*/

.card-and-txt{
    background-color: darksalmon;
}
.column{
    width: calc(100%/2);
    padding: 5px;
    height: 300px;
}


.card-img{
    width: 100px;
    height: 100px;
}
.title-song{
    margin: 10px 0;
    background-color: red;
    height: 40px;
    width: 100%;
}
.subtitle{
    height: 30px;
    width: 100%;
    background-color: brown;
}

.conteiner-songs{
    margin: 30px 0;
}
/*suggestion-section*/

.conteiner-suggeriti {
    margin: 30px 0;
}
/*artisti section*/
.conteiner-artisti{
    margin-top: 30px;
}


.card-img-artista{
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    background-color: fuchsia;
    align-self: center;
}

/********side bar**********/

.side-bar{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 30px;
    height: calc(100vh - 70px);
    background-color: blue;
    z-index: 3;
}

.testo-in-small{
    width: 100%;
    height: 100%;
    display: none;
}
/*playlists*/
.title-playlist{
    margin: 5px 0;
}

.playlist-section{
    display: none;
    
}
.playlist-esistenti{  
    overflow: auto;
    max-height: 150px;
}
.playlist-txt{
    width: 100%;
}
/*profilo*/
.descrizione-profilo{
    display: none;
}



/*********footer*********/
footer{
    background-color: black;
    height: 70px;

}

.brano-in-riproduzione{
    width: 30%;
    background-color:rgb(82, 212, 53)
}

.icona{
    background-color: green;
}
/****************************************/
.comandi-brano{
    background-color:rgb(95, 44, 44);
    width: 40%;
    height: 100%;
    gap: 10px;
}

.pulsanti{
    width: 100%;

}

.icons{
    width:30px ;
    height: 30px;
    background-color: green;
}

.barra-progressione{
    width: 90%;
    border-radius: 30px;
    height: 10px;
    background-color: grey;
}

/****************************************/
.volume{
    background-color: aqua;
    width: 30%;
    height: 100%;
    padding-left: 5%;
}

.barra-volume{
    height:10px ;
    border-radius: 30px;
    width: 100%;
    background-color: grey;
    margin: 10px 0;
}
.icone-and-barra-progressione{
    width: 100%;
}

/***********************************************/
/**************META SECTION*********************/
/***********************************************/


/*size s*/

@media screen and (min-width:768px) {
   
    /********SIDEBAR*********/
   
    .side-bar{
        width: 200px;
    }
    
    .testo-in-small{
        display: inline-block;
    }
    .upper-section{
        padding-left:200px ;
    }

    /*selezione schede*/
    .logo{
        height: 70px;
    }
    
    .icona-logo{
        display: none;
    }
    .contenitore-selezione-schede{
        margin: 5px 0;
    }

    /*playlists*/

    .playlist-section{
        display: block;
        
    }



    /*profilo*/
    .descrizione-profilo{
        display: block;
    }
    .icona-profilo-e-scritta{
        display: flex;
    }

    /*******MAIN******/

    
    nav{
        width: 80%;
        margin:0 auto;
    }


}


/*size m*/


@media screen and (min-width:992px) {
    nav{
        width: 90%;
        margin:0 auto;
    }
   
    /******MAIN******/

    .column{
        width: calc(100%/4);
    }
    /*******FOOTER*****/

    .volume{
        padding-left: 40px;
    }
}



/*size l*/

@media screen and (min-width:1200px) {
    /******MAIN******/

    .column{
        width: calc(100%/6);
    }


}









